*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes introText {
  0% {
    color: black;
    margin-bottom: -60px; }
  30% {
    letter-spacing: 40px;
    margin-bottom: -60px; }
  85% {
    letter-spacing: 30px;
    margin-bottom: -60px; } }

@media only screen and (max-width: 56.25em) {
  @keyframes introText {
    0% {
      color: black;
      margin-bottom: -30px; }
    30% {
      letter-spacing: 10px;
      margin-bottom: -30px; }
    85% {
      letter-spacing: 5px;
      margin-bottom: -40px; } } }

.heading__primary--main {
  font-size: 6rem; }
  @media only screen and (max-width: 37.5em) {
    .heading__primary--main {
      font-size: 5rem; } }

.heading__primary--sub {
  font-size: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .heading__primary--sub {
      font-size: 3rem;
      padding: 0 1rem; } }

.heading__secondary {
  font-size: 3.5rem; }
  .heading__secondary--sub {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block; }

.heading__tertiary {
  font-size: 2rem; }

.paragraph {
  font-size: 2rem; }

.section-question__paragraph {
  font-size: 2.5rem;
  width: 50%;
  margin-left: 6rem;
  margin-top: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .section-question__paragraph {
      margin-top: 0; } }

.u-center-text {
  text-align: center !important; }

.u-flex-center {
  display: flex;
  justify-content: center; }

.u-container {
  position: absolute;
  top: 15%;
  width: auto;
  font-size: 3rem;
  padding: 0 6rem;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .u-container {
      top: 5%; } }
  .u-container h1 {
    margin-bottom: 2rem; }

.txt-type > .txt {
  border-right: 0.2rem solid #777; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.6s; }

.btn:hover {
  background-position: 100%;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2); }

.btn--sub {
  background-size: 200%;
  background-image: linear-gradient(120deg, #1ca9c9, #0073cf, #1ca9c9); }

.btn--question {
  position: absolute;
  bottom: 10%;
  color: #fff;
  padding: 2rem 3rem;
  animation: moveInBottom 2s; }

.btn--contact {
  padding: 2rem 3rem;
  border-radius: 3rem;
  outline: #000; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes introText {
  0% {
    color: black;
    margin-bottom: -60px; }
  30% {
    letter-spacing: 40px;
    margin-bottom: -60px; }
  85% {
    letter-spacing: 30px;
    margin-bottom: -60px; } }

@media only screen and (max-width: 56.25em) {
  @keyframes introText {
    0% {
      color: black;
      margin-bottom: -30px; }
    30% {
      letter-spacing: 10px;
      margin-bottom: -30px; }
    85% {
      letter-spacing: 5px;
      margin-bottom: -40px; } } }

.section-slideshow {
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  height: 85vh; }

.section-question {
  padding: 25rem 0;
  background-image: url(../img/HowCanWeHelpYou.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative; }

.section-services {
  background: linear-gradient(to right top, #642b73, #c6426e);
  min-height: 100vh;
  padding: 3rem 0; }

.section-contact {
  min-height: 100vh;
  background: url(../img/bg.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  margin-top: 9vh; }

.burger {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 101;
  display: none;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .burger {
      display: block;
      position: fixed; } }

.navigation {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  background: white;
  z-index: 100;
  width: 100%;
  background-color: #222222; }
  .navigation__nav {
    min-height: 12vh;
    color: white;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navigation__nav--logo {
      height: 8rem; }
      @media only screen and (max-width: 75em) {
        .navigation__nav--logo {
          height: 7rem; } }
      .navigation__nav--logo:hover {
        cursor: pointer; }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%; }
    @media only screen and (max-width: 75em) {
      .navigation__list {
        width: 60%; } }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        color: black;
        width: 50%;
        height: 100vh;
        border-radius: #ccc 1px solid;
        opacity: 0.7;
        transform: translate(-500px);
        transition: transform 0.6s ease-in-out; } }
  .navigation__list.show {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 0; }
  .navigation__item {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.6rem; }
  .navigation__bubble {
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #642b73, #c6426e);
    transform: scale(3);
    transition: all 0.5s; }

.slideshow {
  width: 100%;
  height: 85vh;
  overflow: hidden;
  position: absolute; }
  .slideshow__nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex; }
    .slideshow__nav--bar {
      width: 5rem;
      height: 1rem;
      border: 0.2rem solid #fff;
      margin: .6rem;
      cursor: pointer;
      transition: all 0.7s; }
  .slideshow__slides {
    width: 500%;
    height: 100%;
    display: flex; }
  .slideshow__slide {
    width: 20%;
    transition: 1s;
    position: relative; }
    .slideshow__slide--img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center; }
    .slideshow__slide--text {
      position: absolute;
      top: 25%;
      left: 40%;
      margin: auto;
      float: center;
      font-size: 4rem;
      color: #fff;
      font-weight: 500;
      box-shadow: 1rem 1rem 1rem  white;
      animation: moveInRight 2s; }

input[name="r"] {
  position: absolute;
  visibility: hidden; }

.active {
  background: #fff; }

.s1 {
  background: #000;
  color: #fff; }
  .s1__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-size: 3rem;
    color: #c5a13c;
    width: 100%; }
    .s1__text h1 {
      margin-bottom: 3rem;
      letter-spacing: 1rem;
      position: relative;
      background: #000;
      animation: introText 5s 1; }

.s2 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../img/Airshipment.jpg); }

.s3 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../img/CustomsClearence.jpg); }

.s4 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../img/Transportation.jpg); }

.s5 {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../img/Warehousing.jpg); }

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  font-size: 20px; }
  .services__card {
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear; }
    .services__card--header {
      background-color: #0fbcf9;
      display: inline-block;
      color: #fff;
      padding: 1.2rem 3rem;
      border-radius: 0 0 2rem 3rem;
      text-transform: uppercase;
      font-weight: 600;
      transition: .4s linear; }
    .services__card:hover {
      color: #fff; }
      .services__card:hover .services__card--header {
        box-shadow: 0 0 0 23em #0fbcf9; }
      .services__card:hover .services__card--price {
        color: #fff; }
    .services__card--price {
      font-size: 7rem;
      color: #0fbcf9;
      margin: 4rem 0;
      transition: .2s linear; }
    .services__card sup, .services__card span {
      font-size: 2.2rem;
      font-weight: 700; }
    .services__card li {
      font-size: 1.6rem;
      padding: 1rem 0;
      text-transform: uppercase; }

@media screen and (max-width: 1100px) {
  .services__card {
    flex: 50%; } }

.contact__page {
  width: 100%;
  max-width: 140rem;
  padding: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap; }
  .contact__page--heading {
    width: 100%;
    margin-bottom: 8rem;
    text-transform: uppercase;
    color: #322; }

.contact__info, .contact__form {
  flex: 1; }

.contact__info--item {
  margin-bottom: 2rem;
  font-size: 2rem; }

.contact__info--icon {
  width: 3rem;
  height: 3rem; }

.contact__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contact__form--text {
    width: calc(50% - 10px);
    height: 5rem;
    padding: 1.2rem;
    border: none;
    color: #000;
    margin-bottom: 2rem; }
  .contact__form--message {
    width: 100%;
    min-height: 20rem;
    resize: vertical;
    max-height: 40rem;
    padding: 1.2rem;
    background-color: #222;
    border: none;
    color: #fff;
    margin-bottom: 2rem; }

@media screen and (max-width: 980px) {
  .contact__page {
    max-width: 80rem; }
    .contact__page--heading {
      font-size: 3rem;
      margin-bottom: 4rem; }
  .contact__info, .contact__form {
    flex: 100%;
    margin-bottom: 3rem; }
  .contact__form--text {
    width: 100%; } }

.footer {
  background: #222222; }
  .footer__logo-box {
    text-align: center; }
  .footer__logo {
    width: 20rem;
    padding: 2rem 0; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem auto;
    padding: 1rem 3rem;
    align-items: center; }
  .footer__left {
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__left {
        margin: 0 auto;
        margin-bottom: 2rem; } }
  .footer__navigation {
    border-top: 0.1rem solid #fff;
    padding-top: 2rem;
    color: #fff; }
  .footer__list {
    display: flex;
    justify-content: space-between; }
  .footer__item {
    font-size: 2rem;
    list-style: none;
    margin-right: 2rem; }
    .footer__item:hover {
      transform: rotate(5deg) scale(1.5); }
  .footer__link {
    text-decoration: none;
    color: #fff; }
  .footer__right {
    width: 40rem;
    border-top: 0.1rem solid #fff;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__right {
        width: 100%;
        margin: 2rem auto; } }
  .footer__copyright {
    text-align: center;
    padding: 2rem;
    color: #fff;
    font-size: 2rem; }
  .footer__right {
    color: #fff; }
  .footer__creators {
    padding-top: 2rem; }
