//COLORS
$color-primary:  #0892d0;
$color-primary-light: #40e0d0;
$color-primary-dark: #00008b;

$color-secondary-light: #c5a13c;
$color-secondary-dark: #fab906;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #222222;

$color-white: #fff;
$color-black: #000;

//FONT 
$default-font-size : 1.6rem;


