// pricing-table is now services
// pricing-card  is now services-card
// pricing-card-header is now services-card--header
// price is npw services--price

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // width: min(1100px,100%);
    margin: auto;
    font-size:20px;

  &__card{
    flex: 1;
    max-width: 360px;
    background-color: #fff;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
    &--header{                
        background-color: #0fbcf9;
        display: inline-block;
        color: #fff;
        padding: 1.2rem 3rem;
        border-radius: 0 0 2rem 3rem;
        text-transform: uppercase;
        font-weight: 600;
        transition: .4s linear;
    
    }
    &:hover{
        .services__card--header{
            box-shadow: 0 0 0 23em #0fbcf9;
        }
        color: $color-white;
        .services__card--price{
            color: $color-white;
        }

    }
    &--price{        
        font-size: 7rem;
        color: #0fbcf9;
        margin: 4rem 0;
        transition: .2s linear;
    }
    sup,span{
        font-size: 2.2rem;
        font-weight: 700;
    }
    li{
        font-size: $default-font-size;
        padding: 1rem 0;
        text-transform: uppercase;      
     }
    }
}
@media screen and (max-width:1100px){
    .services__card{
      flex: 50%;
    }
  }