 .slideshow{
    //z-index: 0;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    position: absolute;
    &__nav{
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        &--bar{                       
            width: 5rem;
            height: 1rem;
            border: .2rem solid $color-white;
            margin: .6rem;
            cursor: pointer;
            transition: all 0.7s;
            // &:hover{
            //     background: white;
            //     }
        }
    }
    &__slides{
        width: 500%;
        height: 100%;
        display: flex;
        // &--radio1:checked ~ .s1{
        //     margin-left: 0;
        // }
        // &--radio2:checked ~ .s1{
        //     margin-left: -20%;
        // }
        // &--radio2:checked ~ .s1{
        //     margin-left: -40%;
        // }
        // &--radio4:checked ~ .s1{
        //     margin-left: -60%;
        // }
        // &--radio5:checked ~ .s1{
        //     margin-left: -80%;
        // }
    }
    &__slide{
        width: 20%;
        transition: 1s;
        position: relative;
        &--img{        
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
        &--text{
            position: absolute;
            top: 25%;
            left: 40%;
            margin: auto;
            float: center;
            font-size: 4rem;
            color: $color-white;
            font-weight:500;
            box-shadow: 1rem 1rem 1rem  white;
            animation:moveInRight 2s ;

        }
    }
 }
 input[name="r"]{
    position: absolute;
    visibility: hidden;
 }
//  #r1:checked ~ .s1{
//     margin-left: 0;
//   }
//   #r2:checked ~ .s1{
//     margin-left: -20%;
//   }
//   #r3:checked ~ .s1{
//     margin-left: -40%;
//   }
//   #r4:checked ~ .s1{
//     margin-left: -60%;
//   }
//   #r5:checked ~ .s1{
//     margin-left: -80%;
//   }
  .active{
    background: $color-white;             
  }
.s1{
    background:$color-black;
    color: $color-white;
    &__text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto;
        font-size: 3rem;
        color: $color-secondary-light;
        width: 100%;
        h1{
            margin-bottom: 3rem;
            letter-spacing: 1rem;
            position: relative;
            background: $color-black;
            animation: introText 5s 1;
        }
         
    }
      
}
.s2{background-image: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../img/Airshipment.jpg);}   
.s3{  background-image: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../img/CustomsClearence.jpg);}
.s4{  background-image: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../img/Transportation.jpg);}
.s5{  background-image: linear-gradient(to right bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.4)),url(../img/Warehousing.jpg);}
