.u-center-text { text-align: center !important; }
.u-flex-center{
    display: flex;
    justify-content: center;
}

.u-container{
    position: absolute;
    top: 15%;
    width:auto;
    font-size: 3rem;
    padding: 0 6rem;
    color: $color-white;
    h1{
        margin-bottom: 2rem;
    }
}

.txt-type >.txt{
    border-right: 0.2rem solid #777;
}
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

}

.u-margin-top-big { margin-top: 8rem !important; }

.u-margin-top-huge { margin-top: 10rem !important; }

