.section-slideshow{
    // background: linear-gradient(to right top,#642b73,#c6426e);
    height: 85vh;
}
.section-question{
    // background: linear-gradient(to right top,#36d1dc, #5b86e5 );
    padding: 25rem 0;   
}

.section-services{
    // background: linear-gradient(to right top,#642b73,#c6426e);
}

.section-contact{
    // background: linear-gradient(to right top,#642b73,#c6426e);
}
main{
    margin-top: 9vh;
}