.section-slideshow{
    background: linear-gradient(to right top,rgba(0,0,0,0.4),rgba(0,0,0,0.2));
    height: 85vh;

}
.section-question{
    // background: linear-gradient(to right top,#36d1dc, #5b86e5 );
    padding: 25rem 0;   
    background-image: url(../img/HowCanWeHelpYou.jpg);
    background-size: cover;
    background-attachment: fixed;   
    position: relative;
    

}

.section-services{
    background: linear-gradient(to right top,#642b73,#c6426e);
    min-height: 100vh;
    padding: 3rem 0;
}

.section-contact{
    // background: linear-gradient(to right top,#642b73,#c6426e);
    min-height: 100vh;
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main{
    margin-top: 9vh;
}
